.circle-container {
  width: 65px;
  height: 61px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgImageDetails {
  /* height: 90vh; */
  /* background-image: url('../../../../public/SofaDetails/old-chair.png'); */
  background-position: center;
  object-fit: cover;
  overflow: hidden;
  width: 80%;
  background-size: cover;
}


@media (max-width: 767px) {
  .bgImageDetails {
    width: 100%;
    
  }
  
}

.large-font {
  font-size: xxx-large;
}

.top-20 {
  position: relative;
  top: 20vh;
}

ion-icon.active {
  animation: like 0.5s 1;
  fill: red;
  stroke: none;
}

ion-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  transition: all 0.5s;
}

@-webkit-keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
